:root {
    --salmon: #EF9D71;
    --black: #000;
    --light: #fff;
    --cyan: #aedee0;
    --dcyan: #141b1b;
    --dsalmon: #1e130e;
}

/* Specific body themes for this project */
[data-motion-theme="black"] {
    background-color: var(--black);
    color: var(--light);
}

[data-motion-theme="white"] {
    background-color: var(--light);
    color: var(--black);
}

[data-motion-theme="cyan"] {
    background-color: var(--cyan);
    color: var(--dcyan);
}

[data-motion-theme="salmon"] {
    background-color: var(--salmon);
    color: var(--dsalmon);
}

/* Transitions for smooth background color changes */
.motion-container {
    transition: background-color ease-out 0.5s;
    min-height: 100vh;
}

/* Selection color */
.motion-container *::selection {
    background-color: var(--salmon);
}

/* Fonts */
@font-face {
    font-family: 'Sansita';
    src: url('/motion-website/fonts/font1.ttf');
}

@font-face {
    font-family: 'SansitaReg';
    src: url('/motion-website/fonts/font2.ttf');
}

@font-face {
    font-family: 'SansitaBold';
    src: url('/motion-website/fonts/font3.ttf');
}

/* Scrollbar styling */
.motion-container::-webkit-scrollbar {
    width: 6px;
}

.motion-container::-webkit-scrollbar-track {
    background: none;
}

.motion-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

/* Custom styles from modules */
.motion-vdodiv {
    clip-path: circle(100% at 50% 50%);
}

.motion-links a {
    transition: all 0.5s;
}

.motion-links:hover a:nth-child(1) {
    margin-top: -1.2vw;
}

/* Locomotive Scroll support */
[data-scroll-container] {
    perspective: 1px;
}

.motion-section {
    width: 100%;
    position: relative;
}