:root {
  --background: #000;
  overflow-x: hidden;
}

.awwwards-adidas-wrapper {
  background: var(--background);
  min-height: 100vh;
}

@utility hover-animation {
  @apply cursor-pointer opacity-75 hover:opacity-100 transition-opacity duration-100;
}