@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'satoshi_variable';
  src: url('/refokus-websitedesign/assets/649d7ca1f5c7aa41f51eb483_satoshi-variable.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Light theme styles */
html:not(.dark) {
  --bg-primary: #ffffff;
  --bg-secondary: #f8f9fa;
  --text-primary: #212529;
  --text-secondary: #6c757d;
  --accent: #007bff;
  --border: #dee2e6;
}

/* Dark theme styles */
html.dark {
  --bg-primary: #050505;
  --bg-secondary: #1a1a1a;
  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
  --accent: #00ff19;
  --border: #333333;
}

/* Apply theme variables */
.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-accent {
  color: var(--accent);
}

.border-custom {
  border-color: var(--border);
}

/* width */
::-webkit-scrollbar {
  width: 6px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-primary);
}